.carregar{
  display: flex;
  justify-content: center;
}

.header{
  display: flex;
  top: 0;
  font-size: 17px;
  background-color: #ffffff;
  width: 1550px;
  height: 75px;
  filter: drop-shadow(0px 2px 7px #d6d6d6);
  position: fixed;
  z-index: 1;
}

.footer {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.botao{
  background-color: #bc19c8;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.botao:hover{
  background-color: #7a2770;
}
